@model SystemVianda.Models.TblProveedores

@{
    ViewBag.Title = "Delete";
}

<div class="container-fluid ">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-push-12">
                    <div class="panel panel-danger">
                        <div class="panel-heading"><h4>Eliminar Proveedor</h4></div>
                        <div class="panel-body">
                            <h3>Esta seguro que desea eliminar este registro?</h3>

                            <div>

                                <dl class="dl-horizontal">
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Usuarios.Usuario)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Usuarios.Usuario)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Empresa)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Empresa)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Contacto)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Contacto)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Telefono)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Telefono)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Direccion)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Direccion)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Email)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Email)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Nrc)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Nrc)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Nit)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Nit)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Web)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Web)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.FechaRegistro)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.FechaRegistro)
                                    </dd>

                                </dl>


                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="form-actions no-color">
                                        <input type="submit" value="Eliminar" class="btn btn-danger " /> |
                                        @Html.ActionLink("Atras", "Index", null, new { @class = "btn btn-default " })
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
