@model SystemVianda.Models.TblUsuarios

@{
    ViewBag.Title = "Details";
}


<div class="container-fluid ">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-push-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><h4>Detalles De Usuario</h4></div>
                        <div class="panel-body">
                            <div>

                                <dl class="dl-horizontal">
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Empleado.Nombre)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Empleado.Nombre)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Roles.Rol)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Roles.Rol)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Usuario)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Usuario)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Password)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Password)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.ConfirmPassword)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.ConfirmPassword)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Estado)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Estado)
                                    </dd>

                                </dl>
                            </div>
                            <p>
                                @Html.ActionLink("Editar", "Edit", new { id = Model.IdUsuario }, new { @class = "btn btn-success ", }) |
                                @Html.ActionLink("Atras", "Index", null, new { @class = "btn btn-default " })
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

