<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sistema Vianda</title>

    @*<script src="~/Scripts/jquery-3.3.1.js"></script>*@
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@

</head>
<body background="~/IMG/347118-admin.jpg">



    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right"></ul>
    </div>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>


                @Html.ActionLink("Vianda", "Index", "PanelControl", new { area = "" }, new { @class = "navbar-brand", style = "color:#A569BD;font-size:x-large;" })
            </div>
            <div class="navbar-collapse collapse ">
                <ul class="navbar-nav mr-auto" style="list-style:none;">
                    <li class="nav-item">
                        @Html.ActionLink("Nueva Venta  ", "Index", "Ventas", new { area = "" }, new { @class = "navbar-brand  ", style = "color:white;font-size:large;" })
                    </li>
                    <li class="nav-item ">
                        @Html.ActionLink(" Nueva Compra", "Index", "Compras", new { area = "" }, new { @class = "navbar-brand ", style = "color:white;font-size:large;" })

                    </li>
                </ul>
                <div class="navbar-collapse collapse">



                    <div class="btn-group navbar-right" style="margin-top: 10px">
                        <button type="button" class="btn btn-danger">@Session["Nombre"]</button>
                        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>

                        <ul class="dropdown-menu">

                            @if (Convert.ToString(Session["Rol"]) == "Administrador" || Convert.ToString(Session["Rol"]) == "SubAdministrador")
                            {


                                <li><a href="@Url.Action("Index", "Usuarios")">Gestión Usuarios</a></li>
                            }
                            @if (Convert.ToString(Session["Rol"]) == "Administrador")
                            {
                                <li><a href="@Url.Action("Index", "Roles")">Gestión Rol</a></li>
                            }
                            <li role="separator" class="divider"></li>
                            <li><a href="@Url.Action("Salir", "Login")">Apagar Sistema</a></li>


                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class=" nav navbar-nav navbar-right"></ul>
        </div>

    </div>
    <br />
    <br />
    @* Menu Lateral *@
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-3">
                <div class="panel-group" id="accordion">

                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    <span class="glyphicon glyphicon-shopping-cart">
                                    </span>Gestión de Compras
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon glyphicon-plus text-primary"></span><a href="@Url.Action("Index", "Compras")">Nueva Compra</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-tasks text-success"></span><a href="@Url.Action("Compras", "Compras")">Compras Registradas</a>
                                            <span class="badge"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-user text-info"></span><a href="@Url.Action("Create", "Proveedores")">Nuevo Proveedor</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-tasks text-success"></span><a href="@Url.Action("Index", "Proveedores")">Proveedores Registrados</a>
                                            <span class="badge"></span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>




                    @* modulo rutas *@


                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseConfig2">
                                    <span class="glyphicon glyphicon-resize-full">
                                    </span>Rutas
                                </a>
                            </h4>
                        </div>
                        <div id="collapseConfig2" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-transfer"></span>@Html.ActionLink("Nueva Ruta", "Create", "Rutas", routeValues: null, htmlAttributes: new { id = "registerLink" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-list"></span>@Html.ActionLink("Rutas Registradas", "Index", "Rutas", routeValues: null, htmlAttributes: new { id = "registerLink" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-user"></span>@Html.ActionLink("Asignar Ruta", "Create", "AsignacionRutas", routeValues: null, htmlAttributes: new { id = "registerLink" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-list"></span>@Html.ActionLink("Asignaciones Registradas", "Index", "AsignacionRutas", routeValues: null, htmlAttributes: new { id = "registerLink" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-pencil"></span>@Html.ActionLink("Nuevo Detalle De Ruta", "Create", "DetallesRutas", routeValues: null, htmlAttributes: new { id = "registerLink" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-list"></span>@Html.ActionLink(" Detalles Registrados", "Index", "DetallesRutas", routeValues: null, htmlAttributes: new { id = "registerLink" })
                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>





                    @* modulo Usuarios *@

                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                    <span class="glyphicon glyphicon-file">
                                    </span>Empleados
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-user"></span>@Html.ActionLink("Nuevo Empleado", "Create", "Empleados", routeValues: null, htmlAttributes: new { id = "registerLink" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-list"></span>@Html.ActionLink("Empleados Registrados", "Index", "Empleados", routeValues: null, htmlAttributes: new { id = "registerLink" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-user"></span>@Html.ActionLink("Nuevo Rol", "Create", "Roles", routeValues: null, htmlAttributes: new { id = "registerLink" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-list"></span>@Html.ActionLink("Roles Registradas", "Index", "Roles", routeValues: null, htmlAttributes: new { id = "registerLink" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-user"></span>@Html.ActionLink("Nuevo Usuario", "Create", "Usuarios", routeValues: null, htmlAttributes: new { id = "registerLink" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-list"></span>@Html.ActionLink(" Usuarios Registrados", "Index", "Usuarios", routeValues: null, htmlAttributes: new { id = "registerLink" })
                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>









                </div>


            </div>
            <div class="col-sm-9 col-md-9">
                <div class="well">
                    <div class="">
                        @RenderBody()
                        <hr />
                        <footer>
                            <p>&copy; @DateTime.Now.Year - </p>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @*<div class="container body-content">
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>*@

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    @RenderSection("scripts", required: false)
    @RenderSection("CargarProducto", required: false)
    @RenderSection("CargarProductoServicio", required: false)


    @*<script src="~/Scripts/jquery.validate.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("FrmValidar", required: false)
</body>
</html>