@model IEnumerable<SystemVianda.Models.TblRoles>

@{
    ViewBag.Title = "Index";
}


<div class="container-fluid ">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-push-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><h4>Roles</h4></div>
                        <div class="panel-body">
                            <br />
                            <div class="col-lg-push-12">
                                <div class="form-group">
                                    <p>
                                        @Html.ActionLink("Nuevo Rol", "Create", null, htmlAttributes: new { @class = "btn btn-primary " })
                                    </p>
                                    <table class="table table-bordered text-center" id="dtBasicExample">
                                        <thead>
                                            <tr @*style="background-color:#F6CEEC;"*@>
                                                <th class="text-center">
                                                    @Html.DisplayNameFor(model => model.Rol)
                                                </th>
                                                <th class="text-center">
                                                    @Html.DisplayNameFor(model => model.Descripcion)
                                                </th>
                                                <th class="text-center">Opciones</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Rol)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Descripcion)
                                                    </td>
                                                    <td>
                                                        <div class="bottom">
                                                            @Html.ActionLink(" ", "Edit", new { id = item.IdRol }, new { @class = "btnc btn-sm btn-primary glyphicon glyphicon-edit", Title = "Editar" })
                                                            @Html.ActionLink(" ", "Details", new { id = item.IdRol }, new { @class = "btnc btn-sm btn-info glyphicon glyphicon-eye-open", Title = "Detalles" })
                                                            @Html.ActionLink(" ", "Delete", new { id = item.IdRol }, new { @class = "btnc btn-sm btn-danger glyphicon glyphicon-trash", Title = "Eliminar" })
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        </tfoot>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


